.about-us-intro {

	// max-width: 800px;
	margin: 40px auto;
	text-align: center;

	@media(min-width: $sm) {
		margin: 60px auto 100px;
	}

	@media(min-width: $md) {
		margin: 60px auto 160px;
	}

	&__text {
		font-size: 18px;

		@media(min-width: $sm) {
			font-size: 20px;
		}

		@media(min-width: $md) {
			font-size: 24px;
		}

	}
}