// Base styling for layout related rules

.container {
	@include clearfix();
	display: block;
	width: 100%;
	max-width: $md;
	margin: 0px auto;
	padding: 0px 10px;
	float: none;

	@media(min-width: $sm) {
		padding: 0px 20px;
		// width: 768px;
	}

	@media(min-width: $md) {
		padding: 0px 30px;
		// width: 1200px;
	}
	
	&--fluid {
		@include clearfix();
		display: block;
		width: 100%;
		max-width: $md;
		margin: 0px auto;
		padding: 0px;
		float: none;
	}
}

.no-scroll {
	overflow: hidden;
}