.contact-us {
	display: block;
	padding: 20px 0px 20px;
	background: #fff;

	margin-bottom: -30px;

	@media(min-width: $sm) {
		padding: 30px 0px 30px;
	}

	@media(min-width: $md) {
		padding: 60px 0px 60px;
	}
}