.footer {

	@media(min-width: $md) {
		padding: 70px 20px;
	}
}

.footer-content {
	@media(min-width: $md) {
		display: flex;
		flex-wrap: wrap;
	}
}

.footer-main,
.footer-social {
	@include listClr();
}

.footer-main {
	padding: 30px 5px;
	border-bottom: 1px solid $greyLight;

	@media(min-width: $md) {
		flex: 0 0 85%;
		display: flex;
		justify-content: space-between;
		padding: 0px 0px 15px;
		border: 0;
		align-items: center;
	}

	&__link {
		margin-bottom: 20px;
		color: $greyDark;
		text-align: center;
		font-size: 16px;

		@media(min-width: $md) {
			margin-bottom: 0;
			border-right: 1px solid;
			padding-left: 40px;
			padding-right: 40px;
			font-size: 18px;
		}

		&:first-child {
			@media(min-width: $md) {
				padding-left: 0px;
			}
		}

		&:last-child {
			margin-bottom: 0px;
		}
	}
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	padding: 32px 0px 16px;

	overflow: hidden;

	@media(min-width: $md) {
		flex: 0 0 15%;
		justify-content: flex-end;
		align-items: center;
		padding: 0px 0px 15px;
	}

	&__link {
		width: 32px;
		height: 32px;
		margin-right: 24px;
		background: $greyLight;
		border-radius: 50%;

		text-align: center;
		line-height: 0px;

		transition: all .25s ease;

		a {
			display: block;
			width: 55%;
			height: 100%;
			margin: 0 auto;
			text-indent: 200vw;
		}

		.icon {
			fill: $greyDark;
		}

		&:last-child {
			margin-right: 0px;
		}

		&:hover {
			background: $black;

			.icon {
				fill: $greyLight;
			}
		}
	}
}


.footer-copyright,
.footer-address {
	display: block;
	font-size: 14px;
	color: $grey;
	text-align: center;
}

.footer-copyright {
	margin-bottom: 20px;

	@media(min-width: $md) {
		padding-top: 40px;
		border-top: 1px solid #ccc;
		flex: 0 0 100%;
		text-align: left;
	}
}


.footer-address {

	@media(min-width: $md) {
		display: flex;
		flex: 0 0 100%;
	}

	&__line {
		display: block;
		margin-bottom: 16px;

		@media(min-width: $md) {
			margin-right: 40px;
		}

		&:last-child {
			@media(min-width: $md) {
				margin-right: 0px;
			}
		}
	}
}