.page-banner--home {
	position: relative;
	// background: $black;
	// color: #fff;
	padding: 100px 0px 20px;
	overflow: hidden;
	


	@media(min-width: $sm) {
		padding: 150px 0px 20px;
	}

	@media(min-width: $md) {
		padding: 200px 0px 20px;
	}

	// &::after {
	// 	content: "";
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 50%;
	// 	background: red;
	// 	z-index: 2;
	// }
}

.sp-card-container {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 70%;
		// background: red;
		// box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.1),
		// 			10px 0px 0px 10px rgba(0,0,0,0.1),
		// 			-10px 0px 0px 10px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.1);

		// border-radius: 20px 20px 0px 0px;
		border-radius: 8px 8px 0px 0px;

		@media(min-width: $sm) {
			box-shadow: 0px 0px 0px 15px rgba(0,0,0,0.1);
		}

		@media(min-width: $md) {
			box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.1);
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 70%;
		left: 50%;
		width: 100vw;
		height: 100vh;
		background: $greyLighter;
		transform: translate(-50%, 0);
	}
}

.sp-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 36px 16px;
	border-radius: 10px;
	margin-top: 26px;
	z-index: 2;

	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.11),
				0px 0px 35px 0px rgba(0,0,0,0.08);

	background: linear-gradient(315deg, transparent 0%, $black 80%), url(../img/home-sp-bg.jpg) top left / cover no-repeat;

	@media(min-width: $sm) {
		height: 500px;
		margin-top: 40px;
	}

	@media(min-width: $md) {
		margin-top: 90px;
		padding: 0px 120px;
		height: 670px;
		background: linear-gradient(-69deg, transparent 21%, $black 86%), linear-gradient(250deg, transparent 21%, $black 86%), url(../img/home-sp-bg.jpg) top left 160px / cover no-repeat;

		// background-position: auto auto, 500px 100px;
	}

	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: red;
	// 	z-index: -1;
	// 	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.11),
	// 			0px 0px 35px 0px rgba(0,0,0,0.11);
	// }

	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 60%;
	// 	// background: green;
	// 	border-radius: 10px 10px 0px 0px;
	// 	box-shadow: 0px -5px 0px 5px green,
	// 				-5px -5px 0px 5px green,
	// 				5px -5px 0px 5px green;
	// }

	// &::after {
	// 	content: "";
	// 	position: absolute;
	// 	bottom: -60%;
	// 	left: 50%;
	// 	transform: translate(-50%, 0);
	// 	width: 150%;
	// 	height: 100%;
	// 	background: red;
	// 	// box-shadow: 0px 10px 0px 10px #fff;
	// 	z-index: -5;
	// }

	&__img {
		width: 150px;

		@media(min-width: $sm) {

		}

		@media(min-width: $md) {
			width: 260px;
		}

		img {
			display: block;
			max-width: 100%;
		}
	}

	&__info {
		font-size: 14px;
		margin: 20px 0px;

		@media(min-width: $sm) {
			font-size: 16px;
			max-width: 450px;
		}

		@media(min-width: $md) {
			font-size: 20px;
			max-width: 550px;
		}

	}
}