.jd-head {

	@media(min-width: $sm) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
		margin-bottom: 20px;

		@media(min-width: $sm) {
			display: flex;
			flex-wrap: wrap;
			flex: 1;
			margin: 0px;
		}
	}

	&__title {
		font-family: $csMed;
		font-size: 24px;
		text-transform: none;
		margin: 0px 0px 10px;

		@media(min-width: $sm) {
			font-size: 40px;
			flex: 1 1 100%;
		}

		@media(min-width: $md) {
			font-size: 64px;
		}
	}

	&__team,
	&__location,
	&__type {
		font-family: $csMed;
		font-size: 14px;
		opacity: 0.7;
		display: inline-block;
		text-transform: uppercase;

		@media(min-width: $sm) {
			font-size: 18px;
		}

		@media(min-width: $md) {
			font-size: 24px;
		}
	}

	&__team {
		display: block;
		margin: 0px 0px 10px;

		@media(min-width: $sm) {
			margin-bottom: 0px;
		}
	}

	&__location {
		margin: 0px 10px 0px 0px;

		@media(min-width: $sm) {
			margin: 0px 20px;
		}
	}

	&__type {
		margin: 0px;
	}

	&__cta {

	}
}