.navbar {
	display: block;
	background: #262626;
	color: #fff;
	padding: 30px 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 6
}

@media (min-width:1240px) {
	.navbar {
		padding: 40px 15px;
		-webkit-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease
	}
}

.navbar.is-open .navbar-links {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0)
}

.navbar.is-open .nav-pages {
	display: block
}

@media (min-width:1240px) {
	.navbar.is-open .nav-pages {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
}

.navbar.is-scrolled {
	padding: 15px
}

@media (min-width:768px) {
	.navbar.is-scrolled .navbar-brand a {
		width: 150px
	}
}

@media (min-width:1240px) {
	.navbar.is-scrolled .navbar-brand a {
		width: 180px
	}
}

@media (min-width:1240px) {
	.navbar.is-scrolled {
		padding: 20px 15px
	}
}

.navbar-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 10px;
	float: none
}

@media (min-width:768px) {
	.navbar-container {
		padding: 0 20px
	}
}

@media (min-width:1240px) {
	.navbar-container {
		padding: 0 30px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
}

.navbar-brand {
	position: relative;
	z-index: 6
}

.navbar-brand a {
	display: block;
	width: 150px;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}

@media (min-width:768px) {
	.navbar-brand a {
		width: 180px
	}
}

.navbar-brand img {
	display: block
}

.navbar-toggle {
	position: relative;
	z-index: 6
}

@media (min-width:1240px) {
	.navbar-toggle {
		display: none
	}
}

.navbar-links {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
	z-index: 5;
	background: #262626;
	overflow-y: scroll;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}

@media (min-width:1240px) {
	.navbar-links {
		position: relative;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		display: block;
		height: auto;
		overflow: hidden
	}
}

.nav-pages {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	display: none
}

@media (min-width:1240px) {
	.nav-pages {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
}

.nav-pages__item {
	font-size: 20px;
	margin-bottom: 30px;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	position: relative
}

@media (min-width:1240px) {
	.nav-pages__item {
		margin-bottom: 0;
		margin-right: 35px
	}
}

.nav-pages__item:last-child {
	margin-bottom: 0
}

@media (min-width:1240px) {
	.nav-pages__item:last-child {
		margin-right: 0
	}
}

.nav-pages__link {
	position: relative;
	opacity: .5;
	-webkit-transition: opacity .25s ease;
	-o-transition: opacity .25s ease;
	transition: opacity .25s ease
}

.nav-pages__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 14px);
	-ms-transform: translate(-50%, 14px);
	transform: translate(-50%, 14px);
	width: 22px;
	height: 7px;
	border-radius: 50%/100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 2px solid #fff;
	border-top: 0;
	opacity: 0;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}

.nav-pages__link.active,
.nav-pages__link:focus,
.nav-pages__link:hover {
	opacity: 1
}

@media (min-width:1240px) {
	.nav-pages__link.active::before,
	.nav-pages__link:focus::before,
	.nav-pages__link:hover::before {
		opacity: 1;
		-webkit-transform: translate(-50%, 10px);
		-ms-transform: translate(-50%, 10px);
		transform: translate(-50%, 10px)
	}
}

.nav-pages__cta {
	padding: 18px 24px;
	display: inline-block;
	background: #fff;
	color: #262626;
	border-radius: 8px;
	opacity: 1;
	border: 0
}