.our-services {
	padding: 30px 0px;
}

.services-list {
	@include listClr();

	@media(min-width: $sm) {
		@supports(display: grid) {
			display: grid;
			grid-gap: 20px;
		}
	}

	@media(min-width: $md) {
		@supports(display: grid) {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 30px;
		}
	}
}

.service {
	@include clearfix();
	padding: 30px 20px;
	background: #fff;
	margin-bottom: 20px;
	border-radius: 8px;

	transition: all .25s ease;

	&:last-child {
		margin-bottom: 0px;
	}

	@media(min-width: $sm) {
		padding: 40px 35px;

		display: flex;
		flex-direction: column;

		@supports(display: grid) {
			margin-bottom: 0px;			
		}
	}

	@media(min-width: $md) {
		padding: 55px 45px 40px;

		&:hover {
			background: $black;
			color: #fff;
			transform: scale(1.02);
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1),
						0px 0px 35px 0px rgba(0,0,0,0.08);

			&:nth-child(odd) {
				transform-origin: right;
			}

			&:nth-child(even) {
				transform-origin: left;
			}

			&:first-child {
				transform-origin: bottom right;
			}

			&:nth-child(2) {
				transform-origin: bottom left;
			}

			&:nth-last-child(2) {
				transform-origin: top right;
			}

			&:last-child {
				transform-origin: top left;
			}

			.icon {
				fill: #fff;
			}

			.service__cta {
				color: inherit;
			}

			.service__list-item {

				&::before {
					background: $greyLighter;
				}
			}

			.service__cta {
				color: #fff;
			}
		}
	}

	&__head {
		@media(min-width: $md) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: 25px;
		}
	}

	&__icon {
		width: 40px;
		height: 40px;
		margin-bottom: 15px;

		.icon {
			fill: $black;
			transition: all .25s ease;
		}

		@media(min-width: $md) {
			margin-right: 20px;
			margin-bottom: 0px;
		}
	}

	&__title {
		margin-bottom: 10px;
		font-family: $csBlack;
		font-size: 20px;
		text-transform: none;

		@media(min-width: $sm) {
			font-size: 26px;
			// margin-bottom: 20px;
		}

		@media(min-width: $md) {
			font-size: 32px;
			margin-bottom: 0px;
		}

	}

	&__body {
		// @include clearfix();
		opacity: 0.75;

		@media(min-width: $sm) {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// align-items: flex-end;
		}
	}

	&__info {
		font-family: $csBook;
		font-size: 16px;
		margin-bottom: 15px;
		margin-top: 0px;

		@media(min-width: $sm) {
			font-size: 18px;
			align-self: flex-start;
		}

		@media(min-width: $md) {
			font-size: 20px;
			margin-bottom: 20px;
			width: 95%;
		}
	}

	// &__list {
	// 	@include listClr();
	// 	padding-left: 20px;
	// 	margin-bottom: 20px;
	// }

	// &__list-item {
	// 	position: relative;
	// 	display: flex;
	// 	align-items: center;
	// 	margin-bottom: 10px;

	// 	font-size: 16px;

	// 	@media(min-width: $sm) {
	// 		font-size: 18px;
	// 	}

	// 	&:last-child {
	// 		margin-bottom: 0px;
	// 	}

	// 	&::before {
	// 		content: "";
	// 		display: block;
	// 		width: 12px;
	// 		height: 2px;
	// 		margin-right: 6px;
	// 		background: $greyDark;
	// 	}		

	// }

	&__cta {
		float: right;

		@media(min-width: $sm) {
			font-size: 18px;
			align-self: flex-end;
		}

		@media(min-width: $md) {
			// margin-bottom: 40px;
			font-size: 20px;
		}

	}

	&__img {
		// position: absolute;
		// bottom: 0px;
		// right: 15px;
		width: 35%;
		margin: 0 0 0 auto;
		// float: right;

		@media(min-width: $sm) {
			width: 45%;
		}

		@media(min-width: $md) {
			width: 80%;
			float: none;
		}

		img {
			@include imgRes();
		}
	}
}