.product-section {
	background: linear-gradient(to bottom, #111 0%, $black 75%);
	color: #fff;

	background: $black;

	// background: #fff;
	// color: $black;

	// border: 1px solid #000;
	padding: 0px 0px 50px;

	
	@media(min-width: $sm) {
		padding: 0px 0px 70px;
	}

	@media(min-width: $md) {
		padding: 0px 0px 100px;
	}
}


.p-feature-section {
	margin-bottom: 100px;

	&:last-child {
		margin-bottom: 0px;
	}

	@media(min-width: $sm) {
		margin-bottom: 130px;

		@supports(display: grid) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: start;
		}
	}

	@media(min-width: $md) {
		margin-bottom: 140px;
	}

	&--alt {
		.p-feature-info {
			@media(min-width: $sm) {
				@supports(display: grid) {
					order: 1;
				}
			}
		}
	}


	&--row {

		padding: 0px 15px;

		@media(min-width: $sm) {
			grid-template-columns: 1fr 1fr;
		}

		.p-feature-info {
			padding: 0px;
			width: 100%;

			@media(min-width: $sm) {
				grid-column: 1 / -1;
			}
		}

		.p-feature-img {
			text-align: center;
			margin-bottom: 30px;
			// padding: 0 15px;

			@media(min-width: $sm) {
				// padding: 0 30px;
				margin-bottom: 0px;
			}

			@media(min-width: $md) {
				padding: 0px;
			}

			&__text {
				font-size: 20px;
			}
		}
	}

}


.product-section-title {
	font-size: 40px;
	text-align: center;
	text-transform: none;
	font-family: $csBook;

	@media(min-width: $sm) {
		font-size: 50px;

		// @supports(display: grid) {
		// 	grid-column: 1 / -1;
		// }
	}

	@media(min-width: $md) {
		font-size: 60px;
	}
}


.p-feature-info {
	width: 90%;
	margin: 0 auto;
	// padding: 0px 15px;

	@media(min-width: $sm) {
		// padding: 0px 0px 0px 30px;
		flex: 2 1 calc(100% / 2 - 10%);
	}
}


.p-feature-head {
	margin-bottom: 30px;

	&__title {
		text-transform: none;
		font-family: $csBook;
		font-size: 24px;
		margin-bottom: 16px;

		@media(min-width: $md) {
			font-size: 34px;
		}

		@media(min-width: $md) {
			font-size: 40px;
		}
	}

	&__subtitle {
		font-size: 16px;
		margin: 0px;

		@media(min-width: $md) {
			font-size: 24px;
		}
	}
}

.p-feature-list {
	@include listClr();
	margin-bottom: 30px;

	&__item {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0px;
		}

		@media(min-width: $md) {

		}

		
	}

	&__icon {
		@include imgRes();
		width: 60px;

		@media(min-width: $sm) {
			width: 90px;
		}

		@media(min-width: $md) {
			width: 110px;
		}
	}

	&__text {

	}

	&__title {
		margin: 0px;
		font-size: 20px;
		color: $stGold;

		@media(min-width: $sm) {
			font-size: 24px;
		}
	}

	&__subtitle {
		font-size: 16px;
		margin: 10px 0px 0px;

		@media(min-width: $sm) {
			font-size: 20px;
		}
	}
}


.p-feature-list {

	&--3col {
		@supports(display: grid) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 30px;
		}

		@media(min-width: $md) {
			@supports(display: grid) {
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 30px;
			}
		}

		.p-feature-list__item {
			&:last-child,
			&:nth-last-child(2) {
				margin-bottom: 0px;
			}
		}
	}


	&--zig {

		// @media(min-width: $md) {
		// 	@supports(display: grid) {
		// 		display: grid;
		// 		grid-template-columns: repeat(3, 1fr);
		// 		grid-template-rows: repeat(3, 1fr);
		// 		grid-gap: 30px;
		// 		justify-items: center;
		// 	}
		// }

		.p-feature-list__item {
			margin: 0px 0px 30px;
			position: relative;
			z-index: 0;

			margin: 0px;

			// &:first-child {

			// 	@media(min-width: $sm) {
			// 		&::before {
			// 			content: "";
			// 			position: absolute;
			// 			top: 0;
			// 			left: 50%;
			// 			width: 250px;
			// 			height: 250px;
			// 			border-radius: 50%;
			// 			background: rgba(0,0,0,0);
			// 			transform: translate(-60%, 0%) rotate(15deg);
			// 			border-top: 1px solid $greyDarker;
			// 			border-right: 1px solid $greyDarker;
			// 			border-bottom: 1px double transparent;
			// 			border-left: 1px double transparent;
			// 			z-index: -1;
			// 		}

			// 		&::after {
			// 			content: "";
			// 			position: absolute;
			// 			top: 0;
			// 			left: 50%;
			// 			width: 250px;
			// 			height: 250px;
			// 			border-radius: 50%;
			// 			background: rgba(0,0,0,0);
			// 			transform: translate(-60%, 0%) rotate(15deg) scale(1.05,1.05);
			// 			transform-origin: center;
			// 			border-top: 1px dashed $greyDarker;
			// 			border-right: 1px dashed $greyDarker;
			// 			border-bottom: 1px double transparent;
			// 			border-left: 1px double transparent;
			// 			z-index: -1;
			// 		}
			// 	}
			// }


			// &:nth-child(2) {
				
			// 	@media(min-width: $sm) {
			// 		&::before {
			// 			content: "";
			// 			position: absolute;
			// 			top: 0;
			// 			left: 50%;
			// 			width: 250px;
			// 			height: 250px;
			// 			border-radius: 50%;
			// 			background: rgba(0,0,0,0);
			// 			transform: translate(-55%, 30%) rotate(200deg);
			// 			border-top: 1px solid $greyDarker;
			// 			border-right: 1px solid $greyDarker;
			// 			border-bottom: 1px double transparent;
			// 			border-left: 1px double transparent;
			// 			z-index: -1;
			// 		}

			// 		&::after {
			// 			content: "";
			// 			position: absolute;
			// 			top: 0;
			// 			left: 50%;
			// 			width: 250px;
			// 			height: 250px;
			// 			border-radius: 50%;
			// 			background: rgba(0,0,0,0);
			// 			transform: translate(-55%, 30%) rotate(200deg) scale(1.05,1.05);
			// 			transform-origin: center;
			// 			border-top: 1px dashed $greyDarker;
			// 			border-right: 1px dashed $greyDarker;
			// 			border-bottom: 1px double transparent;
			// 			border-left: 1px double transparent;
			// 			z-index: -1;
			// 		}
			// 	}
			// }


			&:nth-child(2) {
				.p-feature-list__icon {
					margin: 0 auto;

					// @media(min-width: $sm) {
					// 	margin: 0px;
					// }
				}

				.p-feature-list__subtitle {
					text-align: center;

					// @media(min-width: $sm) {
					// 	text-align: center;
					// }
				}
			}

			&:last-child {
				margin: 0px;

				.p-feature-list__icon {
					margin: 0px 0px 0px auto;

					// @media(min-width: $sm) {
					// 	margin: 0px;
					// }
				}

				.p-feature-list__subtitle {
					text-align: right;

					// @media(min-width: $sm) {
					// 	text-align: center;
					// }
				}
			}

			// @media(min-width: $sm) {
			// 	@supports(display: grid) {
			// 		&:nth-child(2) {
			// 			grid-column: 2;
			// 			grid-row: 2;
			// 		}

			// 		&:nth-child(3) {
			// 			grid-column: 3;
			// 			grid-row: 3;
			// 		}
			// 	}
			// }


		}

	}


	&--1col {

		.p-feature-list__item {
			
			@media(min-width: $md) {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
			}
		}

		.p-feature-list__text {
			
			@media(min-width: $md) {
				margin-left: 20px;
			}
		}

	}


}


.p-feature-img {

	@media(min-width: $sm) {
		flex: 2 1 calc(100% / 2 - 10%);
	}

	img {
		@include imgRes();
	}
}