.project-enquiry-section {
	background: #fff;
	padding: 30px 10px;

	@media(min-width: $sm) {
		padding: 40px 15px;
	}

	@media(min-width: $md) {
		padding: 60px 20px;
	}
}

.form--project {
	@media(min-width: $md) {
		width: 60%;
		margin: 0 auto;
	}
}