.sp-banner {
	background: $black;
	color: #fff;
	padding: 140px 10px 30px;

	@media(min-width: $sm) {
		padding: 140px 10px 40px;
		text-align: center;
	}

	@media(min-width: $md) {
		padding: 280px 10px 140px;
	}


	&__logo {
		width: 200px;
		margin-bottom: 16px;

		@media(min-width: $sm) {
			margin: 0 auto 20px;
		}

		@media(min-width: $md) {
			width: 460px;
		}

		img {
			display: block;
			width: 100%;
		}
	}

	&__info {
		font-size: 14px;
		margin: 0px;

		@media(min-width: $sm) {
			font-size: 18px;

			width: 550px;
			margin: 30px auto;
		}

		@media(min-width: $md) {
			font-size: 24px;

			width: 800px;
		}
	}

	&__clist-title {
		font-size: 24px;
		text-transform: none;
		margin-top: 40px;
		margin-bottom: 10px;
		font-family: $csBook;

		@media(min-width: $sm) {
			margin-bottom: 20px;
		}
	}
}