.sp-perks-section {
	margin: 60px 0px;

	@media(min-width: $md) {
		margin: 100px 0px 130px;
	}
}


.sp-perks-list {
	@include listClr();
	padding: 0px 10px;
 
	@media(min-width: $sm) {
		padding: 0px 20px;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@supports(display: grid) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 30px;
		}
	}

	@media(min-width: $md) {
		padding: 0px;

		@supports(display: grid) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

}

.sp-perk {
	background: $black;
	color: #fff;
	
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	padding: 60px 25px;
	border-radius: 8px;
	margin-bottom: 24px;

	&:last-child {
		margin-bottom: 0px;
	}

	@media(min-width: $sm) {
		flex: 0 0 48%;
		margin-bottom: 30px;

		&:nth-last-child(2) {
			margin-bottom: 0px;
		}

		@supports(display: grid) {
			margin: 0px;
		}
	}

	@media(min-width: $md) {
		align-content: center;
		padding: 50px 40px;
		flex: 0 0 32%;

		&:last-child,
		&:nth-last-child(2) {
			margin-bottom: 30px;

			@supports(display: grid) {
				margin: 0px;
			}
		}
	}

	&__icon {
		// flex: 0 0 40px;
		display: inline-block;
		margin-right: 15px;
		width: 40px;
		height: 40px;

		img {
			@include imgRes();
		}

		.icon {
			fill: #fff;
		}
	}

	&__title {
		flex: 1;
		display: inline-block;
		margin: 0px;
		font-family: $csBold;
		font-size: 24px;

		@media(min-width: $md) {
			flex: 1 1 100%;
			margin-top: 20px;
			font-size: 32px;
		}
	}

	&__info {
		margin: 15px 0px 0px;
		font-size: 16px;
		opacity: 0.8;

		@media(min-width: $md) {
			margin-top: 20px;
			font-size: 20px;
		}
	}
}