.success-container {
	padding: 180px 0px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;

	background: #fff;

	@media(min-width: $sm) {
		padding: 200px 0px 100px;
	}

	@media(min-width: $md) {
		// padding: 200px 0px 120px;
	}
}


.success-anim {
	position: relative;
	width: 250px;
	max-width: 100%;
	margin: 0 auto 30px;

	animation: grow .5s ease-in-out;

	&__badge {
		animation: rotate 35s linear infinite;
	}

	&__check {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 40%;

	}
}

.success-message {
	// width: 800px;
	// max-width: 100%;
	padding: 0px 30px;
	font-size: 20px;
	text-align: center;

	animation: fadeIn .25s .75s ease-out forwards;
	opacity: 0;

	@media(min-width: $sm) {
		font-size: 24px;
	}

	@media(min-width: $md) {
		font-size: 30px;
	}
}


.success-home {
	margin: 0 auto;
	// display: block;
	// align-self: center;

	animation: fadeIn .25s .75s ease-out forwards;
	opacity: 0;

	@media(min-width: $sm) {
		font-size: 20px;
	}

	@media(min-width: $md) {
		font-size: 26px;
	}
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}