//
html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	box-sizing: inherit;
}

// tags
em {
	font-style: normal;
}

 
body {
	font-family: 'CircularStd-Book', sans-serif;
	font-weight: normal;
	background: #f2f2f2;
	color: $color-body-text;
	line-height: 1.5;
}

input {
	font-family: inherit;
}

button {
	cursor: pointer;
}

h1, h2, h3, h4, h5 {
	font-family: $csBold;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 0px;
}

a {
	color: inherit;
	text-decoration: none;
}