@font-face {
  font-family: 'CircularStd-Book';
  src: url('../fonts/CircularStd-Book.woff2') format('woff2'),
  		url('../fonts/CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd-Medium';
  src: url('../fonts/CircularStd-Medium.woff2') format('woff2'),
  		url('../fonts/CircularStd-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url('../fonts/CircularStd-Bold.woff2') format('woff2'),
  		url('../fonts/CircularStd-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd-Black';
  src: url('../fonts/CircularStd-Black.woff2') format('woff2'),
  		url('../fonts/CircularStd-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}