// Clearfix mixin
@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Make image responsive
@mixin imgRes() {
	display: block;
	max-width: 100%;
}

// Clear default styling for ul and ol
@mixin listClr() {
	list-style: none;
	padding: 0;
	margin: 0;
}