// // Fonts
// $csBook: 	'CircularStd-Book', sans-serif;
// $csMed: 	'CircularStd-Medium', sans-serif;
// $csBold: 	'CircularStd-Bold', sans-serif;
// $csBlack: 	'CircularStd-Black', sans-serif;


// // Brand Colors
// $black:			#262626;
// $brand:			#E39600;			

// $greyLighter:	#f2f2f2;
// $greyLight:		#d3d3d3;
// $grey:			#999;
// $greyDark:		#666;
// $greyDarker:	#4a4a4a;


// // Shopify Plus
// $spGold: #D09D26;
// $stGold: #FFD481;


// // Responsive Breakpoints

// $sm: 	768px;
// $md:	1240px;
// $lg:	1440px;
// $xl:	1920px;