.banner-head {

	&__title {
		font-family: $csMed;
		text-transform: none;
		font-size: 24px;

		@media(min-width: $sm) {
			font-size: 32px;
		}

		@media(min-width: $md) {
			font-size: 64px;
			margin-bottom: 15px;
		}
	}

	&__subtitle {
		font-size: 18px;
		margin: 0px;

		@media(min-width: $sm) {
			font-size: 22px;
		}

		@media(min-width: $md) {
			font-size: 26px;
		}
	}

	&__text {
		font-size: 18px;
		margin: 10px 0px 0px;

		@media(min-width: $sm) {
			font-size: 22px;
			margin: 15px 0px 0px;
		}

		@media(min-width: $md) {
			font-size: 26px;
			margin: 20px 0px 0px;
		}
	}

	abbr {
		text-decoration-color: transparentize(#fff, 0.8);
		// border-bottom: 1px dotted red;
	}


	&--work-with-us {
		@media(min-width: $md) {
			// padding: 160px 0px 100px;
			width: 60%;
			margin: 0 auto;
		}
	}
}