.callout-block {
	background: $black;
	padding: 40px 9999px;
	color: #fff;
	text-align: center;
	position: relative;
	margin: 0px -9999px;

	@media(min-width: $sm) {
		padding: 50px 9999px;
	}

	@media(min-width: $md) {
		padding: 60px 9999px;
	}

	
	&__text {
		font-size: 20px;

		@media(min-width: $sm) {
			font-size: 24px;
		}

		@media(min-width: $md) {
			font-size: 28px;
		}
	}

	&__link {
		text-decoration: underline;
	}
}
