.client-showcase {
	padding: 25px 0px;

	@media(min-width: $sm) {
		padding: 80px 0px;
	}

	@media(min-width: $md) {
		padding: 130px 0px;
	}
}

.client-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;


	&__item {
		padding: 0px 20px;
		flex: 0 0 33.33%;

		@media(min-width: $sm) {
			flex: 0 0 20%;
		}

		@media(min-width: $md) {
			flex: 1;
			padding: 0px;
		}

		img {
			@include imgRes();
			// width: 60%;
			margin: 20px auto;

			@media(min-width: $sm) {
				margin: 0px auto;
			}

			@media(min-width: $md) {
				width: 50%;
			}
		}

	}


	// &--sp {
	// 	justify-content: flex-start;

	// 	.client-list__item {
	// 		flex: 0 0 33.33%;
	// 		padding: 0px 20px;

	// 		&:nth-child(3n + 1) {
	// 			padding: 0px 20px 0px 00px;

	// 			@media(min-width: $sm) {
	// 				padding: 0 20px;
	// 			}
	// 		}

	// 		@media(min-width: $sm) {
	// 			flex: 0 0 20%;

	// 			&:nth-child(5n + 1) {
	// 				padding: 0px 20px 0px 00px;
	// 			}
	// 		}
	// 	}
	// }
}