.form {

}


.form-group {
	margin-bottom: 40px;

	&:last-of-type {
		margin-bottom: 0px;
	}

	&__label {
		font-size: 20px;
		font-family: $csMed;
		margin-bottom: 20px;
		display: block;

		@media(min-width: $sm) {
			font-size: 24px;
		}
	}

	&__input {
		font-size: 16px;
		border: 2px solid $greyLight;
		width: 100%;
		padding: 5px 10px;

		transition: border-color .25s ease;

		@media(min-width: $sm) {
			font-size: 20px;
		}

		@at-root {
			input[type="text"]#{&},
			input[type="email"]#{&} {
				height: 50px;
			}
		}

		&:focus,
		&:active,
		&:hover,
		&:valid {
			border-color: $black;
		}

		&[disabled] {
			background: $greyLighter;

			&:focus,
			&:active,
			&:hover {
				border-color: $greyLight;
			}
		}
		
	}

	&__select {
		height: 50px;
		padding: 10px 50px 10px 10px;
		font-size: 16px;
		border: 2px solid $greyLight;
		appearance: none;
		background: url("../img/icons/icon-chevron.svg") no-repeat;
		background-position: right 20px center;
		background-size: 24px;

		transition: border-color .25s ease;

		@media(min-width: $sm) {
			font-size: 20px;
			padding: 10px 60px 10px 20px;
		}

		// @media(min-width: $md) {
		// 	font-size: 24px;
		// }

		&:focus,
		&:active,
		&:hover,
		&:valid {
			border-color: $black;
		}
	}


	// Fieldset
	&__fset {
		padding: 0px;
		border: 0px;
		margin: 0px;

		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0px;
		}
	}

	&__fset-item {
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0px;
		}
	}

	&__fset-label {
		font-size: 20px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		cursor: pointer;

		.form-group__input {
			margin-top:  10px;
		}
	}

	&__fset-input {
		margin-right: 15px;
	}

}


.form-group--opt {
	width: 100%;
	opacity: 0;
	max-height: 0;
	overflow: hidden;

	transition: all .35s ease;

	margin-bottom: 0px;
}

.form-group--active {
	opacity: 1;
	max-height: 500px; /* little bit of a magic number :( */
	overflow: visible;
	display: block;

	margin-bottom: 40px;
}

.form-other {
	width: 100%;
	opacity: 0;
	max-height: 0;
	overflow: hidden;

	transition: all .5s ease;
}

input[type="radio"]:checked ~ .form-other,
input[type="checkbox"]:checked ~ .form-other {
	opacity: 1;
	max-height: 100px; /* little bit of a magic number :( */
	overflow: visible;
}

