.founder-message {
	padding: 0px;

	background: $black;
	color: #fff;
	padding: 20px;
	border-radius: 8px;
	margin: 20px 0px;

	position: relative;

	@media(min-width: $sm) {
		display: flex;
		flex-wrap: wrap;
		padding: 50px 30px;
		margin: 30px 0px;
	}

	@media(min-width: $md) {
		padding: 0;
		margin: 100px 0px 40px;
	}

	&__img {
		position: relative;

		@media(min-width: $sm) {
			position: absolute;
			bottom: 0px;
			left: 10px;
			width: 45%;
			height: 100%;
			display: flex;
			align-items: flex-end;
		}

		img {
			display: block;
			max-width: 350px;
			width: 100%;
			margin: 0 auto;

			@media(min-width: $sm) {
				max-height: 100%;
				max-width: 0 0 0 auto;
			}

			@media(min-width: $md) {
				margin: 0 auto 0 0;
				max-height: none;
				max-width: 100%;
			}
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to top, #262626, transparent 30%);
		}

	}

	&__info {
		display: flex;
		flex-direction: column-reverse;

		z-index: 1;
		margin-top: -100px;
		position: relative;

		// @media(min-width: $sm) {
		// 	margin-top: 0px;

		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// 	padding: 20px;
		// }

		@media(min-width: $sm) {
			display: block;
			width: 70%;
			padding: 0px 40px;
			margin: 0px 0px 0px auto;
		}

		@media(min-width: $md) {
			width: 60%;
			padding: 60px 40px 100px;
		}
	}

	&__quote {
		padding: 0px;
		margin: 0px;
		font-size: 16px;

		@media(min-width: $sm) {
			font-size: 18px;
			position: relative;
		}

		@media(min-width: $md) {
			font-size: 24px;
		}
	}

	&__author {
		padding: 0px;
		margin: 0px;

		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin-bottom: 16px;

		font-family: $csBold;

		@media(min-width: $md) {
			margin-top: 25px;
			margin-bottom: 0;
		}
	}

	&__name {
		font-size: 24px;
		color: $greyLight;
		margin-bottom: 10px;

		@media(min-width: $sm) {
			font-size: 28px;
		}

		@media(min-width: $sm) {
			font-size: 32px;
		}

	}

	&__desig {
		font-size: 32px;

		@media(min-width: $sm) {
			font-size: 34px;
		}

		@media(min-width: $sm) {
			font-size: 40px;
		}
	}
}