.navbar-toggle {
	width: 100px;
	height: 100px;
	margin: 50px auto;
	position: relative;
	position: relative;
	cursor: pointer;
	background: transparent;
	border: 0px;

	padding: 0;
	width: 30px;
	height: 30px;
	margin: 0;

	overflow: hidden;

	@media(min-width: $sm) {
		width: 25px;
		height: 25px;
	}

	span {
		display: block;
		border-radius: 2px;
		background: #fff;
		border-radius: 2px;
		transition: .25s ease-in-out;
	}

	.hamburger {
		position: absolute;
		height: 100%;
		width: 100%;

		display: flex;
		flex-wrap: wrap;
		align-items: center;

		top: 0;
		left: 0;

		span {
			width: 100%;
			height: 3px;
			margin: 0px;

			&:nth-child(1) {
				transition-delay: .5s;
			}
			&:nth-child(2) {
				transition-delay: .625s;
			}
			&:nth-child(3) {
				transition-delay: .75s;
			}
		}
	}
	.cross {
		position: absolute;
		height: 100%;
		width: 100%;
		transform: rotate(45deg);
		top: 0px;
		left: 0px;

		span {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			&:nth-child(1) {
				height: 0%;
				width: 3px;
				position: absolute;
				transition-delay: 0s;
			}
			&:nth-child(2) {
				width: 0%;
				height: 3px;
				position: absolute;
				transition-delay: .25s;
			}
		}
	}
}

.navbar-toggle.is-open {
	.hamburger {
		span {
			transform: translate(-100%, 0);

			&:nth-child(1) {
				transition-delay: 0s;
			}
			&:nth-child(2) {
				transition-delay: .125s;
			}
			&:nth-child(3) {
				transition-delay: .25s;
			}
		}
	}
	.cross {
		span {
			&:nth-child(1) {
				height: 100%;
				transition-delay: .625s;
			}
		}
		span {
			&:nth-child(2) {
				width: 100%;
				transition-delay: .375s;
			}
		}
	}
}