.job-description {
	padding: 60px 0px;
	background: #fff;
}


//

.jd-info {
	font-size: 18px;
	color: $greyDarker;
	max-width: 1020px;
	margin: 0px auto 40px;

	@media(min-width: $md) {
		font-size: 24px;
		margin: 0px auto 60px;
	}

	&__title {
		font-family: $csMed;
		font-size: 24px;
		margin: 0px 0px 16px;
		text-transform: none;
		color: #000;

		@media(min-width: $sm) {
			font-size: 30px;
		}

		@media(min-width: $md) {
			font-size: 40px;
		}
	}

	&__text {

	}

	&__list {
		@include listClr();
		padding-left: 10px;
	}

	&__list-item {
		position: relative;
		display: flex;
		align-items: flex-start;
		margin-bottom: 10px;

		@media(min-width: $md) {
			margin-bottom: 14px;
		}

		&::before {
			content: "";
			width: 6px;
			height: 6px;
			background: $greyDarker;
			border-radius: 50%;
			flex: 0 0 6px;
			margin-top: 8px;
			margin-right: 14px;

			@media(min-width: $sm) {
				margin-top: 10px;
			}

			@media(min-width: $md) {
				width: 10px;
				height: 10px;
				flex: 0 0 10px;
				margin-top: 12px;
				margin-right: 20px;
			}
		}
	}
}