.job-listing {
	position: relative;
	// margin: 30px 0px;
	padding: 30px 0px;
	background: #fff;

	overflow: hidden;

	@media(min-width: $sm) {
		padding: 80px 0px;
	}

	@media(min-width: $md) {
		padding: 120px 0px;

		// &::before,
		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	bottom: 0;
		// 	width: 220px;
		// 	height: 220px;
		// }

		// &::before {
		// 	left: 0;
		// 	background: url("../img/job-img-01.svg") no-repeat;
		// 	background-position: bottom;
		// 	// transform: translate(-60%, 0);
		// }

		// &::after {
		// 	right: 0;
		// 	background: url("../img/job-img-02.svg") no-repeat;
		// 	background-position: bottom;
		// 	// transform: translate(60%, 0);
		// }
	}

	// @media(min-width: $xl) {
	// 	&::before,
	// 	&::after {
	// 		content: "";
	// 		position: absolute;
	// 		bottom: 0;
	// 		width: 400px;
	// 		height: 400px;
	// 	}
	// }
}

.job-list {
	@include listClr();
	margin-top: 20px;

	@media(min-width: $sm) {
		width: 600px;
		margin: 0 auto;
		margin-top: 30px;
	}

	@media(min-width: $md) {
		width: 840px;
		margin-top: 60px;
	}

	&__item {
		padding: 25px 10px;
		// background: pink;
		border-bottom: 1px solid $greyLight;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&:last-child {
			border: 0px;

			@media(min-width: $sm) {
				border-bottom: 1px solid $greyLight;
			}
		}

		@media(min-width: $md) {
			padding: 30px 0px;
		}
	}

	&__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		flex: 0 0 50%;

		@media(min-width: $md) {
			justify-content: flex-start;
		}
	}

	&__title,
	&__location,
	&__type {
		margin: 0;
	}

	&__title {
		flex: 0 0 100%;
		margin-bottom: 10px;
		font-family: $csBold;

		@media(min-width: $sm) {
			font-size: 18px;
		}

		@media(min-width: $md) {
			font-size: 24px;
		}
	}

	&__location,
	&__type {
		font-size: 14px;
		opacity: 0.7;

		@media(min-width: $sm) {
			font-size: 16px;
		}
	}

	&__location {
		margin-right: 15px;

		@media(min-width: $sm) {
			margin-right: 20px;
		}

		@media(min-width: $md) {
			margin-right: 30px;
		}
	}

	&__type {

	}

	&__cta {
		flex: 0 0 35%;
		display: flex;
		justify-content: flex-end;
	}
}


.job-listing-bg {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	max-width: 1920px;


	@media(min-width: $md) {

		&::before,
		&::after {
			content: "";
			position: absolute;
			bottom: -20px;
			width: 220px;
			height: 220px;
		}

		&::before {
			left: 0;
			background: url("../img/job-img-01.svg") no-repeat;
			background-position: bottom;
			animation: float 4s ease-in-out infinite;
		}

		&::after {
			right: 0;
			background: url("../img/job-img-02.svg") no-repeat;
			background-position: bottom;
			animation: float 4s ease-in-out 1s infinite;
		}
	}

	@media(min-width: $xl) {
		&::before,
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 400px;
			height: 400px;
		}
	}
}