.key-stats-section {
	padding: 20px 0px;
}

.key-stats-list {
	list-style: none;
	padding: 0px;
	margin: 0px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@supports(display: grid) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;

		@media(min-width: $sm) {
			grid-gap: 20px;
		}

		@media(min-width: $md) {
			grid-gap: 30px;
		}
	}


}

.key-stat {
	padding: 25px 15px;
	background: #fff;
	border-radius: 8px;

	flex: 0 0 48%;
	display: flex;
	flex-direction: column;
	// align-items: center;
	// margin-right: 10px;

	&:nth-child(even) {
		margin-right: 0px;
	}

	@media(min-width: 400px) {
		padding: 25px;
	}

	@media(min-width: $sm) {
		padding: 40px;
		// margin-right: 20px;
	}

	@media(min-width: $md) {
		padding: 60px;
	}


	&__value,
	&__text {
		display: block;
		margin: 0px;
	}

	&__value {
		font-family: $csBold;
		font-size: 40px;
		margin-bottom: 10px;

		@media(min-width: $sm) {
			font-size: 80px;
		}

		@media(min-width: $md) {
			font-size: 130px;
		}
	}

	&__text {
		font-family: $csMed;
		font-size: 12px;

		@media(min-width: $sm) {
			font-size: 20px;
		}

		@media(min-width: $md) {
			font-size: 30px;
		}
	}
}
