.location-list {
	@include listClr();

	margin-bottom: 30px;

	@media(min-width: $sm) {

		display: flex;
		flex-wrap: wrap;
		// justify-content: space-between;

		@supports(display: grid) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 30px;
		}
	}

}

.location {
	padding: 30px 15px;
	background: $greyLighter;
	border-radius: 8px;
	color: $black;

	text-align: center;

	max-width: 450px;
	margin: 0 auto 24px;

	@media(min-width: $sm) {
		max-width: 600px;
		margin: 0;
	}

	@media(min-width: $md) {
		max-width: none;
		text-align: left;
		width: 100%;
		padding: 35px;

		flex: 0 0 32%;
	}

	&__content {
		
		@media(min-width: $md) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			// align-items: center;
		}
	}

	&__img {
		margin-bottom: 20px;
		height: 200px;

		img {
			height: 100%;
			display: block;
			margin: 0 auto;
		}
	}

	&__country {
		font-family: $csBook;
		margin: 0px;
		text-transform: uppercase;
		font-size: 30px;
		color: $black;

		@media(min-width: $sm) {
			font-size: 40px;
		}

		@media(min-width: $md) {
			font-size: 50px;
		}
	}

	&__address {
		font-family: $csBook;
		font-size: 16px;

		@media(min-width: $sm) {
			font-size: 18px;
		}

		@media(min-width: $md) {
			font-size: 20px;
		}

		// flex: 1;
		// padding-left: 20px;
	}

	&__address-line {
		display: block;

		@media(min-width: $md) {
			margin-bottom: 4px;

			&:last-of-type {
				margin-bottom: 0px;
			}
		}
	}
}