.news-section {
	margin: 50px 0px;
}

.news-container {

	display: grid;
	grid-gap: 20px;

	@media(min-width: $sm) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media(min-width: $md) {
		grid-gap: 25px;
	}

	&__title {
		margin: 0px;
	}

}

.news-col {
	border-radius: 8px;
	overflow: hidden;
}

.news-title {
	text-align: center;
	height: 100%;
	font-size: 18px;

	@media(min-width: $sm) {
		background: #fff;
		color: $black;
		text-align: left;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		padding: 20px;
	}

	@media(min-width: $md) {
		font-size: 40px;
	}

	h2 {
		margin: 0px;

		br {
			display: none;
		}

		@media(min-width: $sm) {
			br {
				display: inline;
			}
		}
	}
}


.news-video {
	background: #fff;
	color: $black;
	height: 100%;

	&__thumb {
		cursor: pointer;
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			display: block;
			opacity: .8;
		}

		&::before {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: #fff;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&::after {
			border: 0;
			background: transparent;
			box-sizing: border-box;
			width: 0;
			height: 20px;

			border-color: transparent transparent transparent $black;
			cursor: pointer;
			border-style: solid;
			border-width: 10px 0 10px 15px;

			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		img {
			@include imgRes();
		}
	}

	&__body {
		padding: 0px 20px 20px;

		@media(min-width: $md) {
			padding: 0px 25px 25px;
		}
	}

	&__label {
		opacity: 0.7;

		@media(min-width: $md) {
			font-size: 20px;
		}
	}

	&__title {

		@media(min-width: $md) {
			font-size: 24px;
		}
	}

}

.news-blog {
	padding: 20px;
	// background: #000639;
	background: #fff;
	color: $black;
	height: 100%;

	@media(min-width: $md) {
		padding: 25px;
	}

	&__logo {
		width: 150px;
		// margin-bottom: 20px;
	}

	&__label {
		opacity: 0.7;

		@media(min-width: $md) {
			font-size: 20px;
		}
	}

	&__title {

		@media(min-width: $md) {
			font-size: 24px;
		}
	}

	&__cta {
		// background: transparent;
		// color: #fff;
		// border-color: #fff;

		.icon {
			fill: $black;
		}
	}
}