.product-list {
	@include listClr();
	padding: 30px 0px;

	@media(min-width: $sm) {
		padding: 40px 0px;
	}

	@media(min-width: $md) {
		padding: 100px 0px;
	}
}


.product {
	@include clearfix();
	background: #fff;
	border-radius: 8px;
	padding: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	
	@media(min-width: $sm) {
		padding: 40px 30px 0px 30px;
		margin-bottom: 25px;
	}

	@media(min-width: $md) {
		padding: 80px 50px 0px 32px;
		margin-bottom: 45px;
	}

	&:last-child {
		margin-bottom: 0px;
	}
	

	&__title {
		font-family: $csBlack;
		text-transform: none;
		font-size: 20px;
		margin-bottom: 16px;

		@media(min-width: $sm) {
			font-size: 26px;
			margin-bottom: 20px;
		}

		@media(min-width: $md) {
			font-size: 32px;
			margin-bottom: 24px;
		}
	}

	&__body {
		color: $greyDark;
		margin: 0px 0px 10px 0px;

		@media(min-width: $sm) {
			font-size: 18px;
		}

		@media(min-width: $md) {
			font-size: 22px;
			margin: 0px 0px 20px 0px;
		}
	}

	&__intro {

	}

	&__features {
		@include listClr();

		margin-bottom: 40px;
	}

	&__feature {
		position: relative;
		display: flex;
		font-size: 14px;
		margin-bottom: 16px;

		@media(min-width: $sm) {
			font-size: 16px;
			margin-bottom: 18px;
		}

		@media(min-width: $md) {
			font-size: 20px;
			margin-bottom: 20px;
		}

		&:last-child {
			margin-bottom: 0px;
		}

		&::before {
			content: "";
			position: relative;
			display: block;
			top: 4px;
			left: 0;
			width: 16px;
			height: 16px;
			background: url("../img/icons/check.svg") no-repeat;
			background-size: contain;
			background-position: center;
			margin-right: 5px;

			@media(min-width: $sm) {
				width: 20px;
				height: 20px;
				margin-right: 10px;
			}

			@media(min-width: $md) {
				width: 24px;
				height: 24px;
				margin-right: 16px;
			}
		}
	}

	&__cta {
		float: left;
	}

	&__img {
		// float: right;
		// width: 80%;
		position: relative;
		padding-bottom: 20px;
		top: 20px;
		// top: 20px;
		// left: 20px;

		@media(min-width: $sm) {
			// top: 32px;
			// left: 0px;
			padding-bottom: 40px;
		}

		@media(min-width: $md) {
			// width: 80%;
			// margin: 40px 0px 20px;
			padding-bottom: 40px;

		}

		img {
			// @include imgRes();
			display: block;
			width: 100%;
			border-radius: 8px;
			// margin: 40px 0px 20px auto;

		}

	}
}