.project-cta {
	background: $black;
	color: #fff;
	text-align: center;
	padding: 65px 0px;
	margin: 30px 0px;

	@media(min-width: $sm) {
		padding: 100px 15px;
	}

	@media(min-width: $md) {
		padding: 150px 30px;
	}

	&__title {
		font-family: $csBold;
		text-transform: none;
		font-size: 24px;
		margin-bottom: 10px;

		@media(min-width: $sm) {
			font-size: 32px;
			margin-bottom: 20px;
		}

		@media(min-width: $md) {
			font-size: 48px;
			margin-bottom: 30px;
		}
	}

	&__subtitle {
		font-family: $csBook;
		font-size: 14px;
		margin: 0px 0px 15px;

		@media(min-width: $sm) {
			font-size: 18px;
			margin: 0px 0px 30px;
		}

		@media(min-width: $md) {
			font-size: 24px;
			margin: 0px 0px 40px;
		}
	}

	&__btn {
		font-size: 14px;
		margin: 0 auto;
	}
}


.main-container--home {

	.project-cta {
		margin-top: 90px;
		margin-bottom: 0px;
	}
}



.shopify-app-badge {
	display: block;

	width: 240px;
	margin: 0 auto;

	img {
		@include imgRes();
		width: 100%;
	}
}


.shopify-experts-badge {
	display: block;
	width: 240px;
	margin: 0 auto;
	background: #fff;
	padding: 10px 5px;
	border-radius: 6px;

	img {
		@include imgRes();
		width: 100%;
	}
}