.dialog-project {

	&__head {
		background: $black;
		color: #fff;
		padding: 70px 15px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			width: 100vw;
			height: 100%;
			background: $black;
			z-index: -1;
		}

		@media(min-width: $sm) {
			padding: 70px 20px;
		}
	}

	&__body {
		padding: 60px 15px;

		@media(min-width: $sm) {
			padding: 60px 20px;
		}
	}

	&__title {
		font-size: 24px;
		margin-bottom: 10px;
		text-transform: none;

		@media(min-width: $sm) {
			font-size: 32px;
		}

		@media(min-width: $md) {
			font-size: 64px;
		}
	}

	&__subtitle {
		font-size: 14px;

		@media(min-width: $sm) {
			font-size: 18px;
		}

		@media(min-width: $md) {
			font-size: 24px;
		}
	}
}

.dialog-container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.dialog-project {
	.dialog-content {
		padding: 0px;
	}

	.dialog-close {
		color: #fff;
	}
}