.section-head {
	text-align: center;
	margin: 15px 0px;

	@media(min-width: $sm) {
		margin: 20px auto;
		width: 75%;
	}

	&__title {
		font-family: $csBlack;
		font-family: $csBold;
		text-transform: none;
		font-size: 24px;
		margin-bottom: 10px;

		@media(min-width: $sm) {
			font-size: 32px;
			margin-bottom: 20px;
		}

		@media(min-width: $md) {
			font-size: 56px;
			margin-bottom: 30px;
		}
	}

	&__subtitle {
		font-size: 14px;
		margin: 0px;

		@media(min-width: $sm) {
			font-size: 18px;
		}

		@media(min-width: $md) {
			font-size: 24px;
		}
	}
}