.services-info-section {
	padding: 50px 0px;
	background: #fff;
}

.our-process {
	padding: 50px 0px;
	background: #262626;
	color: #fff;
}

.sp-block-list {
	@include listClr();

	@media(min-width: $sm) {
		@supports(display: grid) {
			display: grid;
			// grid-gap: 20px;
		}
	}

	@media(min-width: $md) {
		@supports(display: grid) {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 30px;
		}
	}
}

.sp-block {
	padding: 30px 20px;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0px;
	}

	@media(min-width: $sm) {
		// padding: 40px 35px;

		display: flex;
		flex-direction: column;

		@supports(display: grid) {
			margin-bottom: 0px;			
		}
	}

	@media(min-width: $md) {
		// padding: 55px 45px 40px;
	}


	&__head {
		@media(min-width: $sm) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: 25px;
		}
	}

	&__icon {
		width: 40px;
		height: 40px;
		margin-bottom: 15px;

		@media(min-width: $sm) {
			margin-right: 10px;
		}

		@media(min-width: $md) {
			margin-right: 20px;
			margin-bottom: 0px;
		}

		.icon {
			fill: $black;
			transition: all .25s ease;
		}
	}

	&__title {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 6px;
		font-family: $csBlack;
		font-size: 20px;
		text-transform: none;

		&::before {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 60%;
			height: 3px;
			background: $greyDark;
		}

		@media(min-width: $sm) {
			font-size: 26px;
			// margin-bottom: 20px;
		}

		@media(min-width: $md) {
			font-size: 32px;
			margin-bottom: 0px;
		}
	}


	&__body {
		// opacity: 0.75;

		@media(min-width: $sm) {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			// align-items: flex-end;
		}
	}

	&__text {
		font-family: $csBook;
		font-size: 16px;
		margin-bottom: 15px;
		margin-top: 0px;

		@media(min-width: $sm) {
			font-size: 18px;
			align-self: flex-start;
		}

		@media(min-width: $md) {
			font-size: 20px;
			margin-bottom: 20px;
			width: 95%;
		}
	}

	&__list {
		@include listClr();
		padding-left: 20px;
		margin-bottom: 20px;
	}

	&__list-item {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 10px;

		font-size: 16px;

		@media(min-width: $sm) {
			font-size: 18px;
		}

		&:last-child {
			margin-bottom: 0px;
		}

		&::before {
			content: "";
			display: block;
			width: 12px;
			height: 2px;
			margin-right: 6px;
			background: $greyDark;
		}		

	}
}