.sp-clients {
	margin: 30px 15px;

	@media(min-width: $sm) {
		margin: 60px 20px;
	}

	@media(min-width: $md) {
		margin: 80px 0px;
	}
}


.sp-client-list {
	@include listClr();

	@supports(display: grid) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 1fr;
		grid-gap: 15px;

		@media(min-width: $sm) {
			grid-template-columns: repeat(5, 1fr);
			grid-gap: 25px;
		}

		@media(min-width: $md) {
			grid-gap: 45px;
		}
	}
}


.sp-client {
	padding: 20px;
	background: #fff;

	display: flex;
	align-items: center;
	justify-content: center;

	@media(min-width: $sm) {
		padding: 40px 20px;
	}

	@media(min-width: $md) {
		padding: 80px 0px;
	}

	img {
		@include imgRes();
	}
}