.sp-stats-section {
	background: #fff;
	// padding: 50px 0px;

	@media(min-width: $sm) {
		background: linear-gradient(to bottom, $black 0%, $black 50%, transparent 50%);
		padding: 0px;
	}

	@media(min-width: $md) {
		// padding: 80px 0px;
	}
}

.sp-stat-list {
	@include listClr();	
	// margin: 50px 0px;
	background: #fff;
	padding: 50px 0px;

	@media(min-width: $sm) {
		display: flex;
		justify-content: space-between;
		padding: 50px 20px;
		margin: 0px;
	}

	@media(min-width: $md) {
		padding: 80px 50px;
		box-shadow: 0 2px 10px 0 rgba(0,0,0,0.11),
					0 11px 35px 0 rgba(0,0,0,0.08);
		border-radius: 10px;
	}
}


.sp-stat {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;

	&:last-child {
		margin-bottom: 0px;
	}

	@media(min-width: $sm) {
		margin: 0px;
		flex: 0 0 28%;
	}

	&__icon {
		width: 32px;
		height: 32px;
		margin: 0px auto 10px;

		@media(min-width: $sm) {
			margin: 0px auto 12px;
			width: 44px;
			height: 44px;
		}

		@media(min-width: $md) {
			margin: 0px auto 15px;
			width: 62px;
			height: 62px;
		}
	}

	&__value {
		margin: 0px auto 10px;
		font-family: $csMed;
		font-size: 24px;
		color: $spGold;

		@media(min-width: $sm) {
			margin: 0px auto 12px;
			font-size: 32px;
		}

		@media(min-width: $md) {
			margin: 0px auto 15px;
			font-size: 48px;
		}
	}

	&__text {
		font-size: 16px;
		margin: 0px;

		@media(min-width: $sm) {
			font-size: 20px;
		}

		@media(min-width: $md) {
			font-size: 24px;
			width: 88%;
			margin: 0 auto;
		}

	}
}