.testimonials-section {

	@media(min-width: $sm) {
		margin-bottom: 60px;
	}

	@media(min-width: $md) {
		margin-bottom: 140px;
	}

}

.testimonial-list {

	@media(min-width: $sm) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@supports(display: grid) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 20px;
		}
	}

	@media(min-width: $md) {
		@supports(display: grid) {
			grid-gap: 30px;
		}	
	}
}

.testimonial {
	background: #fff;
	padding: 32px 36px;
	margin: 0px 0px 24px;
	border-radius: 8px;

	&:last-of-type {
		margin-bottom: 0px;
	}

	@media(min-width: $sm) {
		// margin: 0px;
		padding: 36px 40px;
		flex: 0 0 49%;

		&:nth-of-type(odd):nth-last-of-type(2),
		&:nth-of-type(even):last-of-type {
			margin-bottom: 0px;
		}

		@supports(display: grid) {
			margin: 0px;
		}
	}

	@media(min-width: $md) {
		margin-bottom: 30px;
		padding: 60px 70px 55px 90px;

		@supports(display: grid) {
			margin: 0px;
		}
	}

	&__quote {
		position: relative;
		padding: 0px 0px;
		margin: 0px 0px 15px;
		font-size: 14px;

		@media(min-width: $sm) {
			font-size: 18px;
			margin-bottom: 20px;
		}

		@media(min-width: $md) {
			font-size: 24px;
			margin-bottom: 50px;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 4px;
			width: 16px;
			height: 12px;
			background: $grey;

			// @media(min-width: $sm) {
				// width: 20px;
				// height: 16px;
			// }

			@media(min-width: $md) {
				width: 32px;
				height: 24px;
			}
		}

		&::before {
			left: 0px;
			transform: translate(calc(-100% - 10px), 0);
			background: url("../img/icons/quote-open.svg") no-repeat;

			@media(min-width: $md) {
				transform: translate(calc(-100% - 35px), 0);
			}
		}

		&::after {
			right: 0px;
			transform: translate(calc(100% + 10px), 0);
			background: url("../img/icons/quote-close.svg") no-repeat;

			@media(min-width: $md) {
				transform: translate(calc(100% + 15px), 0);
			}
		}
	}

	&__author {
		font-size: 14px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@media(min-width: $sm) {
			font-size: 18px;
		}

		@media(min-width: $md) {
			font-size: 24px;	
		}
	}

	&__img {
		// flex: 0 0 70px;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background: $grey;

		margin-right: 15px;

		@media(min-width: $md) {
			width: 100px;
			height: 100px;
			margin-right: 30px; 
		}
	}

	&__name {
		display: block;
		opacity: 0.8;
		margin: 0px 0px 10px;
	}

	&__desig {
		display: block;
		font-family: $csMed;
		flex: 0 0 100%;
	}

}