.testimonial-featured {
	margin: 30px 0px;

	@media(min-width: $sm) {
		margin: 40px 0px;
	}

	@media(min-width: $md) {
		margin: 230px 0px 140px;
	}
}


.t-feat-card {
	position: relative;
	margin: 0px;
	padding: 40px 10px;
	background: $black;
	color: #fff;
	border-radius: 8px;

	display: flex;
	flex-wrap: wrap;

	@media(min-width: $sm) {
		padding: 50px 30px;
	}

	@media(min-width: $md) {
		padding: 75px 60px 125px 0px;	
	}

	&__img {
		position: absolute;
		bottom: 0px;
		left: 10px;
		width: 30%;
		height: 100%;
		display: flex;
		align-items: flex-end;

		img {
			@include imgRes();
			max-height: 100%;

			@media(min-width: $sm) {
				margin: 0 0 0 auto;
			}

			@media(min-width: $md) {
				max-height: none;
			}
		}

		@media(min-width: $md) {
			width: 45%;
		}
	}

	&__info {
		position: relative;
		width: 65%;
		margin: 0px 0px 0px auto;

		@media(min-width: $sm) {
			width: 70%;
			padding: 0px 40px;
		}

		@media(min-width: $md) {
			width: 60%;
			padding: 0px 80px;
		}

		&::before,
		&::after {
			@media(min-width: $sm) {
				content: "";
				position: absolute;
				width: 30px;
				height: 20px;
				background-repeat: no-repeat;
				top: 0;
				// background-size: cover;
			}

			@media(min-width: $md) {
				width: 50px;
				height: 35px;
			}
		}

		&::before {
			@media(min-width: $sm) {
				background-image: url("../img/icons/quote-open-grey.svg");
				left: 0;				
			}
		}

		&::after {
			@media(min-width: $sm) {
				background-image: url("../img/icons/quote-close-grey.svg");
				right: 0;	
			}
		}
	}

	&__quote {
		font-size: 12px;
		margin: 0px 0px 15px;
		position: relative;

		@media(min-width: $sm) {
			font-size: 23px;
			margin: 0px 0px 40px;
			// padding: 0px 80px;
		}

	}

	&__author {
		font-family: $csBold;
	}

	&__name {
		display: block;
		margin-bottom: 5px;
		opacity: 0.8;

		@media(min-width: $sm) {
			font-size: 32px;
			margin-bottom: 10px;
		}

	}

	&__desig {
		display: block;

		@media(min-width: $md) {
			font-size: 40px;
		}

	}
}