<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>
<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header role="banner">
    
  </header>

  	<nav class="navbar" id="navbar" role="navigation">
			<div class="navbar-container">
				<div class="navbar-brand"><a href="/"><img src="{{ 'images/shoptrade-logo-white.svg' | asset_url }}"></a></div>
				<button class="navbar-toggle" id="navbar-toggle" aria-expanded="false" aria-controls="nav-pages">
					<div class="hamburger"><span></span><span></span><span></span></div>
					<div class="cross"><span></span><span></span></div>
				</button>
				<div class="navbar-links">
					<ul class="nav-pages" id="nav-pages">
						<li class="nav-pages__item"><a class="nav-pages__link" href="/">Home</a></li>
						<li class="nav-pages__item"><a class="nav-pages__link" href="/services">Services</a></li>
						<li class="nav-pages__item"><a class="nav-pages__link" href="/shopify-plus">Shopify Plus</a></li>
						<li class="nav-pages__item"><a class="nav-pages__link" href="/products">Products</a></li>
						<li class="nav-pages__item"><a class="nav-pages__link" href="/about">About Us</a></li>
						<li class="nav-pages__item nav-pages__item--cta-"><a class="nav-pages__cta" href="/work-with-us">Work with us</a></li>
					</ul>
				</div>
			</div>
		</nav>
</div>

{% comment %} {% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %} {% endcomment %}
